[submodule "langchain-database-description-application"]
	path = langchain-database-description-application
	url = https://github.com/upjohnc/langchain-database-description-application.git
	branch = test_submodule
